* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.hr1 {
  margin-top: 50px;
  width: 1200px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 500px;
  border: 2px solid rgb(90, 223, 223);
  border-radius: 5px;
  color: white;
}
.info hr {
  width: 500px;
  margin: 20px 0;
}
.hr2 {
  width: 500px;
}
#title {
  width: 500px;
  height: 40px;
  border: 2px solid aqua;
  border-radius: 10px;
  margin: 20px 0;
  background-color: rgb(61, 61, 61);
  color: white;
}
#description {
  width: 500px;
  resize: vertical;
  border: 2px solid aqua;
  border-radius: 10px;
  margin: 10px 0;
  background-color: rgb(61, 61, 61);
  color: white;
}
#add {
  width: 500px;
  border-radius: 10px;
  border: 2px solid aqua;
  background-color: rgb(61, 61, 61);
  color: white;
}
.controllBtn input {
  background-color: rgb(61, 61, 61);
  border: 2px solid aqua;
  color: white;
  border-radius: 10px;
  width: 100px;
}
